/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
          << RESET >>
/////////////////////////////////*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, figcaption, footer, header, hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
      << GENERAL ELEMENTS >>
/////////////////////////////////*/
body {
	font-size: .625em;
	font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
	color: slategrey;
}

.wrap {
	font-size: 1.6em; /* 16px */
	width: 960px;
	margin: 0 auto;
}

header {
	overflow: hidden;
}

#logo {
	font-size: 3em;
	display: block;
	width: 400px;
	float: left;
}

nav {
	clear: left;
}

#blogImg {
	display: block;
	width: 372px;
	margin-right: 50px;
	float: left;
}

#loginForm {
	width: 300px;
	float: left;
	border: 1px solid slategray;
	padding: 10px;
}

#loginForm h3 {
	font-size: 2em;
	font-weight: bold;
}

label {
	display: block;
	width: 100px;
	float: left;
}

#userLogin {
	margin: 20px 0;
}

#userLogin p input {
	width: 250px;
	padding: 5px;
	clear: left;
}

#loginBtn {
	border: none;
	padding: 5px;
	width: 263px;
	font-size: 1.4em;
}

footer {
	clear: left;
}
